@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Questrial","arial","Microsoft JhengHei","微軟正黑體",sans-serif;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
}


/* navbar 導覽列 */
.nav{
    box-shadow: -1.4px -1.4px 6px 0px #97a2a0;
    padding: 0 24px;
}

.nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    background-color: #fff;
}

.nav__site-name{
    font-size: 36px;
    color: #489846;
}

.nav__list{
    display: flex;
    font-size: 18px;
}

.nav__list li{
    margin-left:12px;
}

.nav__list li a{
    display: block;
    padding: 14px 25px;
    border-radius: 8px;
}

.nav__list li.active a,
.nav__list li a:hover{
    color: #fff;
    background-color: #ff7286;
}

@media screen and (max-width: 768px) {
    .nav{
        padding: 0;
    }
    .nav .wrapper{
        flex-direction: column;
        height: 120px;
        padding: 0;
    }
    .nav__site-name{
        margin-top: 10px;
    }
    .nav__list{
        width: 100%;
    }
    .nav__list li{
        margin-left: 0;
        flex: 1;
        text-align: center;
    }
    
    .nav__list li a{
        padding: 12px 20px;
        border-radius: 0;
    }
}


/* banner 大圖 */
.title__banner{
    background: url(img/bg.jpg) center/cover no-repeat;
    height: 450px;
    position: relative;
}

.title__banner:after{
    display: block;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.title__banner h1{
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: 0;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media screen and (max-width: 768px) {
    .title__banner{
        height: 350px;
    }
}


/* content 主內容 */
.content{
    text-align: center;
}

.content__title{
    display: inline-block;
    border-left: 15px solid #a3dea2;
    padding: 0 17px;
    font-size: 36px;
    font-weight: bold;
}


/* content__order 主內容 */
.content__order{
    margin-top: 80px;
}

.content__order .content__para{
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 2em;
}

.content__order .buttons{
    margin-top: 80px;
}

.content__order .btn{
    display: inline-block;
    padding: 50px 70px;
    border-radius: 10px;
    color: #3e613d;
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.1s ease-in;
}

.content__order .btn:hover{
    transform: scale(1.1);
}

.content__order .btn-order{
    background-color: #a8e8e1;
}

.content__order .btn-query{
    background-color: #f9f9b5;
    margin-left: 23px;
}

@media screen and (max-width: 768px) {
    .content__order .btn-query{
        margin-left: 0;
        margin-top: 20px;
    }
}


/* content__menu 主內容 */
.content__menu{
    margin-top: 120px;
}
.content__menu .content__img{
    display: flex;
    margin-top: 36px;
}

.content__menu .content__img div{
    width: 25%;
}

.content__menu .content__img img{
    width: 100%;
}

@media screen and (max-width: 768px) {
    .content__menu .content__img{
        flex-direction: column;
    }
    .content__menu .content__img div{
        width: 100%;
    }
}


/* content__comment 評論區 */
.content__comment{
    margin-top: 80px;
}

.content__comment .wrapper{
    display: flex;
    margin-top: 100px;
}

.content__comment .comment-area{
    position: relative;
    flex: 1;
    height: 210px;
    border: 1px solid #c7e5ec;
    border-radius: 5px;
    box-shadow: -1.4px -1.4px 4px 0px #d8eaef;
    font-size: 16px;
}

.content__comment .comment-area+.comment-area{
    margin-left: 16px;
}

.content__comment .comment-area .avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 11px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.content__comment .comment-area .avatar .avatar-img{
    width: 105px;
    height: 105px;
    border: 1px solid #c7e5ec;
    border-radius: 50%;
    overflow: hidden;
}

.content__comment .comment-area .avatar .avatar-name{
    margin-top: 6px;
    line-height: 16px;
}

.content__comment .comment-area .comment{
    margin: 90px 20px 35px;
    line-height: 1.5em;
}

@media screen and (max-width: 1069px) {
    .content__comment .comment-area{
        height: 235px;
    }
}

@media screen and (max-width: 906px) {
    .content__comment .comment-area{
        height: 265px;
    }
}

@media screen and (max-width: 768px) {
    .content__comment .wrapper{
        flex-direction: column;
    }

    .content__comment .comment-area+.comment-area{
        margin-left: 0;
    }

    .content__comment .comment-area+.comment-area{
        margin-top: 100px;
    }
}


/* content__map 主內容 */
.content__map{
    margin-top: 90px;
}

.content__map .map-iframe{
    margin-top: 36px;
}



/* footer 頁尾 */
footer{
    margin-top: 50px;
}

.footer__main{
    background-color: #e8efee;
    color: #484848;
    font-size: 14px;
    line-height: 2em;
    padding: 50px;
}

.footer__main .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-info{
    margin-right: 16px;
}

.site-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-info .contact-info div{
    display: inline-block;
}

.site-info .contact-info div+div:before{
    content: ' / ';
}

.footer__copyright{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #35564b;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .footer__main .wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-info{
        margin-right: 0;
        margin-top: 16px;
    }

    .footer__copyright{
        flex-direction: column;
        align-items: center;
    }
}